@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
}

.debug {
  @apply outline-2 outline-red-900;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
